<!doctype html>
<html lang="fr">
	<head>
	  <% include ../../partials/head %>
	</head>
	<body class="container">

		<header>
			<% include ../../partials/headerclient %>
		</header>

		<main>
			<div class="jumbotron">
				<div class="container">
					<div class="row">
        				<div class="col-lg-2">
        				</div>
        				<div class="col-lg-8">
        					<% if ( mess.length>0) { %>
      							<div class="alert alert-info">
									<strong>Info!</strong> <%= mess %>
								</div>
							<% } %>
        				</div>
      				</div>
      				<div  class="row">
      					<div class="col-lg-2">
      						
      					</div>
      					<div class="col-lg-8">
								
								<%if (client.prenom != null) { %>
									<div class="alert alert-warning">
									 	<b>Prénom: </b> <%= client.prenom %>
									</div>
								<% } %>
								<%if (client.nom != null) { %>
									<div class="alert alert-warning">
										<b>Nom: </b> <%= client.nom %>
									</div>
								<% } %>
								<%if (client.email != null) { %>
									<div class="alert alert-warning">
									 	<b>Email: </b> <%= client.email %>
									</div>
								<% } %>
								<%if (client.numero != null) { %>
									<div class="alert alert-warning">
									 	<b>Numéro: </b> <%= client.numero %>
									</div>
								<% } %>
							
      					</div>
				</div>
			</div>
		</main>

		<footer>
			<% include ../../partials/footer %>
		</footer>

	</body>
</html>